body {
  font-size: 14px;
  line-height: 18px;
  color: black;
  font-family: "PT Sans Narrow Bold", "Arial", sans-serif;
  background-color: #f4f1ee;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.page-header {
  margin-bottom: 60px;
  background-color: black;
}

.main-navigation {
  min-height: 70px;
  width: 780px;
  float: left;
}

.user-block {
  min-height: 70px;
  width: 140px;
  float: right;
}

.main-navigation a, .user-block a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  width: auto;
  padding: 0 20px 0;
  font-family: "PT Sans Narrow Bold";
}

.main-navigation ul {
  width: auto;
  margin: 0;
  padding: 0;
  min-height: 70px;
  line-height: 70px;
}

.main-navigation li {
  display: inline-block;
}

.main-navigation img {
  vertical-align: middle;
}

.user-login {
  min-height: 70px;
  line-height: 70px;
  text-align: center;
}

.catalog-item-title {
  margin-bottom: 30px;
}

.breadcrumps {
  margin-bottom: 60px;
}

.breadcrumps ol {
  margin: 0;
  padding: 0;
  list-style: 0;
}

.breadcrumps li {
  display: inline-block;
  padding: 0 20px 0;
}

.breadcrumps li:first-child {
  padding-left: 0;
}

.breadcrumps a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "PT Sans Narrow Bold";
  color: black;
}

.filters {
  float: left;
  width: 170px;
  margin-right: 60px;
}

.filters label {
  display: inline-block;
  text-transform: uppercase;
  padding-left: 25px;
  font-size: 14px;
  font-family: "PT Sans Narrow Bold";
  line-height: 18px;
}

.filters input {
  margin-bottom: 20px;
}

.manufacturers {
  width: 170px;
  margin-bottom: 30px;
}

.manufacturers-title {
  margin-bottom: 30px;
  margin-top: 0;
}

.item-groups {
  width: 170px;
  margin-bottom: 50px;
}

.item-groups-title {
  margin-bottom: 20px;
}

.filters .item-buy {
  width: 92px;
}

.filters .item-buy a {
  font-size: 13px;
}

.items {
  width: 720px;
  float: left;
}

.items article {
  display: inline-block;
  width: 220px;
  min-height: 286px;
  margin: 0 10px 20px 10px;
  vertical-align: top;
  background-color: white;
}

.items article img {
  margin-bottom: 10px;
}

.item-label {
  min-height: 30px;
  width: auto;
  margin-left: 16px;
  margin-bottom: 14px;
  padding: 0;
}

.item-category {
  font-size: 14px;
  font-family: "PT Sans Narrow Bold";
}

.item-name {
  font-size: 14px;
  font-family: "PT Sans Narrow Bold";
  text-transform: uppercase;
}

.item-cost {
  width: 187px;
  min-height: 43px;
  margin-left: 16px;
}

.item-price, .item-buy {
  display: inline-block;
}

.item-price {
  width: 89px;
  min-height: 18px;
  padding: 12px 10px;
  background-color: #e5e5e5;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "PT Sans Narrow Bold";
  text-align: center;
}

.item-buy {
  width: 58px;
  min-height: 18px;
  padding: 12px 10px;
  background-color: black;
  text-align: center;
}

.btn {
  color: white;
  text-decoration: none;
  font-family: "PT Sans Narrow Bold";
  font-size: 14px;
  text-transform: uppercase;
}

.articles {
  margin-bottom: 25px;
}

.catalog-pages {
  margin-left: 10px;
}

.catalog-pages .item-buy {
  width: 23px;
  margin-right: 5px;
}

.catalog-page-active {
  background-color: white;
  color: black;
}

.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #242424;
  color: white;
  text-transform: uppercase;
  line-height: 24px;
}

.main-footer a {
  color: white;
}

.footer-copyright .item-buy {
  width: 120px;
  margin: 0 auto;
}

.footer-copyright p {
  margin-left: auto;
  margin-right: auto;
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;

  /* Только для оформления сетки */
  min-height: 90px;
}

.footer-social {
  float: left;
  width: 180px;

  /* Только для оформления сетки */
  min-height: 90px;
}

.footer-social p,
.footer-copyright p {
  margin-top: 0;
}

.footer-copyright {
  float: right;
  width: 180px;
  margin-right: 20px;

  /* Только для оформления сетки */
  min-height: 90px;
}

.photogallery {
  float: left;
}

.gallery-content {
  margin: 0;
}

.item-card {
  width: 390px;
  float: left;
  padding: 10px;
  margin-top: 15px;
  margin-left: 80px;
  text-transform: uppercase;
  line-height: 24px;
}

.item-availability {
  float: left;
}

.item-code {
  float: right;
}

.item-description {
  margin-bottom: 40px;
}

.item-card .item-cost {
  margin-left: 0;
  margin-bottom: 68px;
}

.item-composition h3 {
  margin-bottom: 40px;
}

.item-composition ul {
  padding-left: 15px;
}

@font-face {
  font-family: "PT Sans Narrow Bold";
  src: url(../fonts/PTSansNarrowBold.ttf);
}

h2, h3 {
  color: black;
  font-family: "PT Sans Narrow Bold";
  text-transform: uppercase;
}

h2 {
  font-size: 30px;
  line-height: 42px;
}

h3 {
  font-size: 24px;
  line-height: 30px;
}
