body {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  font-family: "PT Sans Narrow Bold", "Arial", sans-serif;
  text-transform: uppercase;
  background-color: #f4f1ee;
  min-width: 960px;
  background: black url(../img/background.jpg) no-repeat center top;
  color: white;
}

/* блок-центровщик */
.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.page-header {
  margin-bottom: 60px;
  background-color: black;
}

.main-navigation {
  min-height: 70px;
  width: 780px;
  float: left;
}

.user-block {
  max-width: 140px;
  width: 140px;
  float: right;
}

.main-navigation a, .user-block a {
  color: white;
  text-decoration: none;
  font-family: "PT Sans Narrow Bold";
}

.main-navigation li:first-child {
  float: left;
}

.main-navigation .navigation-logo {
  padding: 23px 20px;
}

.main-navigation a {
  padding: 25px 20px;
  display: block;
}

.main-navigation a:hover,
.user-login:hover {
  background: #242424;
}

.main-navigation ul {
  width: auto;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.main-navigation img {
  vertical-align: middle;
}

.user-login {
  padding: 25px 20px;
  padding-left: 50px;
  position: relative;
  display: block;
}

.main-navigation li,
.user-login {
  line-height: 20px;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
}

.user-login::before {
  position: absolute;
  top: 26px;
  left: 20px;
  content: "";
  width: 18px;
  height: 16px;
  background: url(../img/spritesheet.png);
  background-position: -85px -37px;
}

.user-login:hover::before {
  background-position: -85px -63px;
}

.index-logo {
  width: 368px;
  height: 204px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
}

.index-logo img {
  width: 368px;
  height: 204px;
}

.features {
  margin-bottom: 80px;
}

.features-item {
  width: 300px;
  text-align: center;
  float: left;
  margin-right: 20px;
}

.features-item:last-child {
  margin-right: 0;
}

.features-item p {
  margin: 10px;
  margin-bottom: 0;
}

.features-name {
  position: relative;
  display: block;
  margin-bottom: 30px;
  padding-bottom: 35px;
  font-size: 30px;
  line-height: 42px;
}

.features-name::after {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  background-color: white;
  bottom: 0;
  left: 50%;
  margin-left: -10px;
  transform: rotate(45deg);
}

.index-content {
  padding: 50px 80px;
  margin-bottom: 35px;
  background: url(../img/divider.png) no-repeat center,
  #f8f5f2 url(../img/background-white.jpg);
  color: black;
}

.index-content-left,
.index-content-right {
  min-height: 330px;
}

.index-content-left {
  float: left;
  width: 380px;
}

.index-content-right {
  float: right;
  width: 300px;
}

.index-content-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 42px;
}

.index-content p {
  margin: 0;
  margin-bottom: 25px;
}

.news-preview {
  margin: 0;
  padding: 0;
  padding-right: 35px;
  list-style: none;
}

.news-preview li {
  margin-bottom: 25px;
}

.news-preview p {
  margin-bottom: 0;
}

.news-preview time {
  text-transform: none;
}

.catalog-item-title {
  margin-bottom: 30px;
}

.breadcrumps {
  margin-bottom: 60px;
}

.breadcrumps ol {
  margin: 0;
  padding: 0;
  list-style: 0;
}

.breadcrumps li {
  position: relative;
  display: inline-block;
  padding: 0 20px 0;
}

.breadcrumps li:first-child {
  padding-left: 0;
}

.breadcrumps li::before {
  position: absolute;
  content: "";
  top: 8px;
  left: -5px;
  width: 7px;
  height: 7px;
  background-color: black;
  transform: rotate(45deg);
}

.breadcrumps li:first-child::before {
  background-color: transparent;
}

.breadcrumps a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "PT Sans Narrow Bold";
  color: black;
}

.filters {
  float: left;
  width: 200px;
  margin-right: 20px;
}

.filters label {
  display: inline-block;
  position: relative;
  width: 170px;
  margin-left: 23px;
  padding-left: 20px;
  font-size: 14px;
  color: black;
  line-height: 18px;
  margin-bottom: 15px;
}

.filters input {
  margin-bottom: 20px;
  display: none;
}

.manufacturers {
  width: 170px;
  margin-bottom: 30px;
}

.manufacturers label::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  border: 2px solid black;
  left: -23px;
  cursor: pointer;
}

.manufacturers input:checked + label::before {
  background-image: url(../img/spritesheet.png);
  background-position: -52px -3px;
}

.manufacturers-title {
  margin-bottom: 30px;
  margin-top: 0;
}

.item-groups {
  width: 170px;
  margin-bottom: 50px;
}

.item-groups label::before {
  position: absolute;
  content: "";
  left: -23px;
  width: 20px;
  height: 20px;
  background-image: url(../img/icon-radio-off.png);
  cursor: pointer;
}

.item-groups input:checked + label::before {
  position: absolute;
  content: "";
  background-image: url(../img/icon-radio-on.png);
}

.item-groups-title {
  margin-bottom: 20px;
}

.items {
  width: 720px;
  float: left;
}

.items article {
  display: inline-block;
  width: 220px;
  min-height: 286px;
  margin: 0 10px 20px 10px;
  vertical-align: top;
  background-color: white;
  box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.3);
}

.items article img {
  margin-bottom: 10px;
}

.item-label {
  width: auto;
  line-height: 18px;
  margin-left: 16px;
  margin-bottom: 11px;
  padding: 0;
  color: black;
  text-transform: none;
}

.item-category {
  font-size: 14px;
  font-family: "PT Sans Narrow Bold";
}

.item-name {
  font-size: 14px;
  font-family: "PT Sans Narrow Bold";
  text-transform: uppercase;
}

.item-cost {
  width: 187px;
  min-height: 43px;
  margin-left: 16px;
}

.item-price, .item-cost .btn {
  display: inline-block;
}

.item-price {
  width: 89px;
  min-height: 18px;
  padding: 10px 10px;
  background-color: #e5e5e5;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "PT Sans Narrow Bold";
  text-align: center;
  color: black;
}

.btn {
  display: inline-block;
  padding: 10px 33px;
  margin-right: 16px;
  color: white;
  text-decoration: none;
  font-family: "PT Sans Narrow Bold";
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: black;
  border: none;
}

.btn:hover,
.btn:active {
  background-color: #663d15;
}

.btn.disabled,
.btn:disabled {
  cursor: default;
  opacity: 0,5;
}

.articles .btn,
.item-cost .btn {
  padding-left: 19px;
  padding-right: 17px;
  margin: 0;
}

.gallery {
  position: relative;
  height: 260px;
}

.gallery .btn {
  position: absolute;
  bottom: 0;
  width: 140px;
  margin: 0;
}

.gallery-prev {
  left: 0;
}

.gallery-next {
  right: 0;
}

.gallery-content {
  height: 164px;
  margin: 0;
  background-color: #cccccc;
  border: 7px solid #ffffff;
}

.gallery-content img {
  width: 286px;
  height: 164px;
}

.appointment-form input {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #f9f6f3;
  border: 2px solid black;
  width: 106px;
  padding: 7px 15px;
  font: inherit;
  text-transform: uppercase;
  color: black;
}

.appointment-form input:focus {
  border: 2px solid #663d15;
}

.appointment-form input:nth-child(2n) {
  margin-right: 0;
}

.appointment-form .btn {
  clear: both;
  width: 100%;
}

.articles {
  margin-bottom: 25px;
}

.catalog-pages {
  margin-left: 10px;
}

.catalog-pages .btn {
  margin-right: 5px;
  padding-left: 19px;
  padding-right: 19px;
}

.catalog-page-active,
.catalog-page-active:hover {
  background-color: white;
  color: black;
}

.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #212121;
  color: white;
  text-transform: uppercase;
  line-height: 24px;
}

.main-footer a {
  color: white;
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
  min-height: 90px;
}

.footer-contacts a:hover {
  text-decoration: none;
}

.footer-social {
  float: left;
  width: 180px;
  text-align: center;
}

.footer-social p {
  margin: 0;
  margin-bottom: 15px;
}

.social-btn {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  font-size: 0;
  margin: 0 2px;
  width: 43px;
  height: 43px;
  background: black no-repeat center;
}

.social-btn:hover {
  background-color: white;
}

.social-btn-vk {
  background-image: url(../img/icon-vk.png);
}

.social-btn-fb {
  background-image: url(../img/icon-fb.png);
}

.social-btn-inst {
  background-image: url(../img/icon-inst.png);
}

.social-btn-vk:hover {
  background-image: url(../img/icon-vk-hover.png);
}

.social-btn-fb:hover {
  background-image: url(../img/icon-fb-hover.png);
}

.social-btn-inst:hover {
  background-image: url(../img/icon-inst-hover.png);
}

.footer-copyright {
  float: right;
  max-width: 180px;
}

.footer-copyright p {
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
}

.footer-copyright .btn {
  margin-right: 0;
}

.footer-copyright .btn:hover {
  background-color: white;
  color: black;
}

/* страница catalog-item.html */

.photogallery {
  float: left;
}

.gallery-big {
  width: 460px;
  height: 498px;
  margin: 0;
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.2);
}

.gallery-small {
  margin-top: 21px;
  max-height: 149px;
}

.gallery-small img {
  display: inline-block;
  margin-right: 20px;
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.2);
}

.gallery-small img:last-child {
  margin-right: 0;
}

.item-card {
  width: 390px;
  float: left;
  padding: 10px;
  margin-top: 11px;
  margin-left: 70px;
  color: black;
}

.item-availability {
  float: left;
  margin-top: 0;
}

.item-code {
  float: right;
  margin-top: 0;
}

.item-description {
  margin-bottom: 40px;
}

.item-card .item-cost {
  margin-left: 0;
  margin-bottom: 64px;
}

.item-composition h3 {
  margin-bottom: 32px;
}

.item-composition ul {
  padding-left: 21px;
  list-style: none;
}

.item-composition li {
  position: relative;
}

.item-composition li:before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  background-color: black;
  transform: rotate(45deg);
  top: 8px;
  left: -18px;
}

.footer-catalog-item {
  margin-top: 49px;
}

.modal-content {
  position: absolute;
  display: none;
  top: 120px;
  left: 50%;
  margin-left: -230px;
  width: 300px;
  padding: 50px 80px;
  color: black;
  background: #f8f3f0 url(../img/background-white.jpg);
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-content-close {
  position: absolute;
  top: 0;
  right: -34px;
  width: 22px;
  height: 22px;
  font-size: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
  width: 19px;
  height: 3px;
  top: 10px;
  left: 2px;
  background-color: #d0d0d0;
  border-radius: 1px;
}

.modal-content-close::before {
  transform: rotate(45deg);
}

.modal-content-close::after {
  transform: rotate(-45deg);
}

.modal-content h2 {
  margin: 0;
  margin-bottom: 20px;
}

.modal-content p {
  margin: 0;
  margin-bottom: 14px;
}

.modal-content .login-form {
  margin-top: 30px;
  margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-weight: 700;
  color: black;
  width: 241px;
  margin: 0;
  margin-bottom: 10px;
  padding: 10px 15px;
  padding-right: 40px;
  background-color: #f9f6f3;
  border: 2px solid #000000;
}

.login-form input:focus {
  border-color: #663d15;
}

.login-form input.icon-user {
  background-image: url(../img/sprite-little.png);
  background-repeat: no-repeat;
  background-position: 100% -504px;
}

.login-form input.icon-password {
  background-image: url(../img/sprite-little.png);
  background-repeat: no-repeat;
  background-position: 100% -45px;
}

.login-form .restore {
  float: right;
  color: #000000;
}

.login-form .btn {
  width: 100%;
  margin-top: 15px;
}

.login-checkbox {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.login-checkbox:hover {
  color: #663d15;
}

.login-checkbox input[type="checkbox"] {
  display: none;
}

.login-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: -3px;
  left: 0;
  width: 17px;
  height: 17px;
  border: 2px solid #000000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 1px;
  width: 15px;
  height: 2px;
  background-color: #000000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
  transform: rotate(45deg);
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  transform: rotate(-45deg);
}

.modal-content-map {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  margin-top: -280px;
  margin-left: -390px;
  width: 766px;
  height: 561px;
  background: #e9e5dc url(../img/map.png);
  border: 7px solid white;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

@font-face {
  font-family: "PT Sans Narrow Bold";
  src: url(../fonts/PTSansNarrowBold.ttf);
}

h2, h3 {
  color: black;
  font-family: "PT Sans Narrow Bold";
  text-transform: uppercase;
}

h2 {
  font-size: 30px;
  line-height: 42px;
}

h3 {
  font-size: 24px;
  line-height: 30px;
}
